---
import "../styles/global.css";
import { Image } from 'astro:assets';
import portraitImage from "../images/joel.jpg";
import LinkCard from "../components/LinkCard.astro";
import LinkCardClipboard from "../components/LinkCardClipboard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Meet Joel!</title>
  </head>

  <!-- primary - #fddd53 -->
  <!-- secondary - #fff3d3 -->

  <body class="bg-[#fddd53] font-[Funnel_Display]">
    <div class="m-auto flex flex-col md:mt-20 mt-12 mb-8">
      <header class="text-center">
        <Image src={portraitImage} alt="Picture of cat" class="rounded-full m-auto mb-6 w-42"/>
        <h1 class="font-bold text-4xl mb-3 transition delay-150 duration-300 ease-in-out hover:-translate-y-1  hover:scale-120 hover:text-indigo-400">Joel Daniel Rico</h1>
        <span class="font-semibold text-lg">Software Engineer</span>
      </header>
      <main>
        <ul class="space-y-6 my-6">
          <li>
            <LinkCard
              title="ðŸ–¥ï¸ GitHub: Check my projects!"
              url="https://github.com/jjoeldaniel"
            />
          </li>
          <li>
            <LinkCard
              title="ðŸ¢ LinkedIn: Let's connect :)"
              url="https://linkedin.com/in/joeldanielrico"
            />
          </li>
          <li>
            <LinkCard
              title="ðŸ“œ Resume: Where I've been"
              url="https://github.com/jjoeldaniel/resume/blob/main/resume.pdf"
            />
          </li>
        </ul>
        <div>
          <h2 class="text-2xl font-semibold text-center">Get in Touch</h2>
          <ul class="space-y-6 mt-6 max-w-xs mx-auto">
            <li>
              <LinkCard
                title="âœ‰ï¸ Send me an email!"
                url="mailto:joeldanielrico@gmail.com"
              />
            </li>

            <li>
              <div class="flex justify-between gap-4">
                <LinkCardClipboard title="ðŸŽ™ï¸ Discord" text="jjoeldaniel" />
                <LinkCard title="ðŸ•¹ï¸ Steam" url="https://steamcommunity.com/id/jjoeldaniel/" />
              </div>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </body>
</html>
