---
interface Props {
  title: string;
  url: string;
}

const { title = "Card Title", url = "https://google.com" } = Astro.props;

// For desktop view
const url_label = (() => {
  let label = url;
  if (label.includes("//")) {
    label = label.split("//")[1];
  }
  if (label.includes("www.")) {
    label = label.split("www.")[1];
  }
  return label;
})();
---

<div class="btn btn-soft rounded-4xl h-16 w-xs m-auto grid place-content-center transition delay-150 duration-300 ease-in-out hover:-translate-y-1">
  <h3 class="text-lg text-center">
    <a href={url} target="_blank">{title}</a>
  </h3>
</div>
